In [ ]:
from zipfile import stringCentralDir

import pandas as pd
from io import StringIO
import requests
from bs4 import BeautifulSoup

In [ ]:
df = pd.read_csv(r'E:\Phitron\Week 4\drive-download-20251106T085016Z-1-001\movie.tsv',chunksize=100)
for i in df:
    print(i.shape)

##### Read from url

In [ ]:
url = 'https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv'
res = requests.get(url)
df = pd.read_csv(StringIO(res.text))
df.head()

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv',index_col='EMPLOYEE_ID')
df.head()

##### Convertors

In [ ]:
def rename(name):
    if name == 'Royal Challengers Bangalore':
        return 'RCB'
    return name
df = pd.read_csv('drive-download-20251106T085016Z-1-001/cricket_matches.csv',converters={'team1':rename})
df.head()

##### Read from json(url)

In [ ]:
df = pd.read_json('https://raw.githubusercontent.com/LearnWebCode/json-example/refs/heads/master/animals-1.json')
df.head()

In [ ]:
url = 'https://raw.githubusercontent.com/LearnWebCode/json-example/refs/heads/master/animals-1.json'
res = requests.get(url)
df = pd.read_json(StringIO(res.text))
df.head()

In [ ]:
df.to_html('json_file.html')

##### API to Dataframe

In [ ]:
url = 'https://raw.githubusercontent.com/LearnWebCode/json-example/refs/heads/master/animals-1.json'
res = requests.get(url)
df = pd.DataFrame(res.json())
df.head()

In [ ]:
df['liked_foods'] = df['foods'].apply(lambda x:x['likes'])
df['disliked_foods'] = df['foods'].apply(lambda x:x['dislikes'])
df.head()

##### Web Scrapping

In [ ]:
head = {
    "User-Agent": "Mozilla/5.0",
    "Accept": "application/json"
}

res = requests.get('https://en.wikipedia.org/wiki/List_of_companies_of_Bangladesh',headers=head).text

In [ ]:
soup = BeautifulSoup(res)
print(soup.prettify())

In [ ]:
table = soup.find('table')
table

In [98]:
data = table.find_all('tr')
print(type(data[3]))

<class 'bs4.element.Tag'>

In [102]:
data = data[2:]

In [110]:
company = []
industry = []
sector = []
headquaters = []
founded = []
notes = []
for i in data:
    td = i.find_all('td')
    company.append(td[0].text.strip())
    industry.append(td[1].text.strip())
    sector.append(td[2].text.strip())
    headquaters.append(td[3].text.strip())
    founded.append(td[4].text.strip())
    notes.append(td[5].text.strip())

data = {'Company':company,'Industry':industry,'Sector':sector,'Headquaters':headquaters,'Founded':founded,'Notes':notes}

In [113]:
df = pd.DataFrame(data)
df.head()

,Company,Industry,Sector,Headquaters,Founded,Notes
0,A K Khan & Company,Conglomerates,-,Chittagong,1945,"Textiles, logistics, water, financial services..."
1,Aarong,Consumer goods,Personal & household goods,Dhaka,1978,General retail
2,Abul Khair Group,Conglomerates,-,Chattogram,1953,"Steel, cement, tobacco, food & beverage, consu..."
3,Adamjee Jute Mills,Consumer goods,Clothing & accessories,Narayanganj,1951,"Jute mill, defunct 2002"
4,Advanced Chemical Industries (ACI),Conglomerates,-,Dhaka,1968,"Chemicals, foods, pharma, consumer products, l..."