In [ ]:
import pandas as pd
import numpy as np

In [ ]:
csv_data = pd.read_csv('student_data.csv')
parquet_data = pd.read_parquet('students.parquet')

In [ ]:
print(parquet_data.head())

In [ ]:
df = pd.read_csv('student_data.csv',sep=',')
df.head()

In [ ]:
df.head()

In [ ]:
new_df = df[(df['Python Marks']>90) & (df['Location']=='Chattogram')]
new_df[['FullName','StudentID']]

##### Accessing values

In [ ]:
df['Python Marks'] = df['Python Marks'].apply(lambda x: x*2)
df

##### loc

In [ ]:
df.loc[3:7,'FullName':]

##### iloc

In [ ]:
df.iloc[3:7,2:7]

##### Rename columns

In [ ]:
df.rename(columns={'StudentID':'Student ID'},inplace=True)
df.head()

In [ ]:
df.iloc[:,4] += 2
df.dropna(inplace=True)
df.head()

In [ ]:
df.sort_values(['Data Structure Marks','Algorithm Marks','Python Marks'],ascending=False,axis=0)

##### Filtering Based on String

In [ ]:
data = {
    'Name':['Alice','Bob','Charlie','David','Eve','Frank','Grace','Hannah','Jon'],
    'City':['New York','Los Angeles', 'Newark','Boston','New Delhi','Chicago','New Oreleans','Dhaka','Angeles Los'],
    'Department':['HR','IT','Finance','IT','HR','Marketing','Finance','HR','Marketing'],
    'Salary':[50000,60000,55000,70000,52000,58000,62000,51000,64000]
}
df = pd.DataFrame(data)
print(df.loc[df['City'].str.contains('Los')]) # contains Los
print(df.loc[df['City'].str.contains(r'^Los')]) # starts with Los
print(df.loc[df['City'].str.contains(r'rk$')]) # ends with rk
print(df.loc[df['Name'].str.contains(r'^[AEIOU]')]) # starts with vowel
print(df.loc[df['City'].str.contains(r'New|Los')]) # contains New or Los

##### Adding new columns

In [ ]:
df['Country'] = 'Bangladesh'
df['isBorolok'] = np.where(df['Salary']>60000,'Borolok','Gorib')
df['City_2'] = df['City'].str.split().str[0]
df['City_3'] = df['City'].str.split().str[1]
df.head()

##### Handling duplicates and nulls

In [ ]:
np.random.seed(42)
data = {
    'ID': np.arange(1, 16),
    'Name': np.random.choice(['Amin', 'Tina', 'Rafi', 'Nadia', 'Sabbir', 'Lina', 'Kamal', 'Rumi'], 15),
    'Age': np.random.randint(18, 40, 15),
    'City': np.random.choice(['Dhaka', 'Chittagong', 'Sylhet', 'Rajshahi', 'Khulna'], 15),
    'Salary': np.random.choice([25000, 30000, 40000, 50000, np.nan, 60000], 15),
    'Department': np.random.choice(['IT', 'HR', 'Finance', 'Sales', 'Marketing', np.nan], 15)
}

df = pd.DataFrame(data)
df.drop_duplicates(subset=['Name'],inplace=True)
df.reset_index(inplace=True)
df.iloc[5:6,6:7] = np.nan
df.dropna(subset=['Department'],inplace=True)

##### Statistical operations

In [ ]:
df = pd.read_csv('student_data.csv')
df.dropna(subset=['Data Structure Marks','Algorithm Marks','Python Marks'],inplace=True)
df.isnull().sum()
df.reset_index(inplace=True)
df

In [ ]:
print(df[['Python Marks','Algorithm Marks']].corr()) # correlation matrix
df['Total Marks'] = df.iloc[:,2:5].sum(axis=1)
df

##### apply function

In [ ]:
# min max scaling
mini = df['Total Marks'].min()
maxi = df['Total Marks'].max()
df['Sacled Marks'] = df['Total Marks'].apply(lambda x:(x-mini)/(maxi-mini))
df

In [ ]:
# custom functions
def grading_sys(marks):
    if marks >= 260:
        return f"A+"
    elif marks >=250:
        return f"A"
    return f"A-"
df['Grade'] = df['Total Marks'].apply(grading_sys)
df.head()

In [ ]:
# Full data frame manupulation
def testing(df):
    a = df['Data Structure Marks'] * 2
    b = df['Algorithm Marks'] * 3
    c = df['Python Marks'] * 4
    return a+b+c

df['Random'] = df.apply(testing,axis=1)
df.head()

##### DateTime and TimeDelta

In [189]:
df = pd.read_csv('student_completed_data.csv')
print(df.columns)
df.shape

Index(['StudentID', 'FullName', 'CompletionStatus', 'EnrollmentDate',
       'FinishedDate', 'Instructor', 'Location', 'Total Marks'],
      dtype='object')

(20, 8)

In [ ]:
df['EnrollmentDate'] = df['EnrollmentDate'].astype("datetime64[ns]")
df['FinishedDate'] = df['FinishedDate'].astype("datetime64[ns]")
df['Enrollment Year'] = df['EnrollmentDate'].dt.year
df['Enrollment Year']

In [ ]:
df['Time Ttaken'] = df['FinishedDate'] - df['EnrollmentDate']
df.head()

##### GroupBy

In [ ]:
group = df.groupby('Instructor')[['Total Marks','Enrollment Year','Time Ttaken','FullName']]
for i in group:
    print(i)

In [196]:
print(df.nunique())
df['FullName'].unique()

StudentID           20
FullName            20
CompletionStatus     1
EnrollmentDate      19
FinishedDate        20
Instructor           3
Location             5
Total Marks         19
dtype: int64

array(['Alif Rahman', 'Fatima Akhter', 'Imran Hossain',
       'Jannatul Ferdous', 'Kamal Uddin', 'Laila Begum', 'Mahmudul Hasan',
       'Nadia Islam', 'Omar Faruq', 'Priya Sharma', 'Rahim Sheikh',
       'Sadia Chowdhury', 'Tanvir Ahmed', 'Urmi Akter', 'Wahiduzzaman',
       'Ziaur Rahman', 'Afsana Mimi', 'Babul Ahmed', 'Faria Rahman',
       'Tariq Hasan'], dtype=object)