In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

###### Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

In [ ]:
ages_arr = np.array(ages)
salaries_arr = np.array(salaries)
print('Ages: ',ages_arr)
print('Salaries: ',salaries_arr)
print(f"Ages info-> Datatype: {ages_arr.dtype}, Dimension: {ages_arr.ndim}, Shape: {ages_arr.shape}, Size: {ages_arr.size}")
print(f"Salaries info-> Datatype: {salaries_arr.dtype}, Dimension: {salaries_arr.ndim}, Shape: {salaries_arr.shape}, Size: {salaries_arr.size}")

###### Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [82]:
maxi = np.max(salaries)
mini = np.min(salaries)
avg = np.mean(salaries)
print(f"Highest salary {maxi} \nLowest salary {mini}\nAverage salary {avg}\nAverage age {np.mean(ages)}")

Highest salary 89735
Lowest salary 30769
Average salary 57446.9
Average age 38.5

###### Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [83]:
over_thirty = ages[ages>30]
print('Employees over 30:',over_thirty)
print('Number of employees over 30 years:',over_thirty.size)

Employees over 30: [56 46 32 38 56 36 40]
Number of employees over 30 years: 7

###### Q4. Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.

In [ ]:
new_ages = ages + 5
print('Updated ages:',new_ages)

###### Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [ ]:
totat_salary = np.sum(salaries)
print('Total salaries:',totat_salary)
print('Difference between maximum and minimum salary',np.max(salaries)-np.min(salaries))

###### Q6. Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().

In [ ]:
df = pd.read_csv('employees.csv')
print(df.head(5))
print(df.info())
print(df.describe())

###### Q7. Display only the id, age, and salary columns. Then show the last 3 rows using tail().

In [ ]:
print('Full info')
print(df[['id','age','salary']])
print('\n\nLast 3 rows')
print(df[['id','age','salary']].tail(3))

###### Q8. Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.

In [ ]:
df_it = df[df['dept'] == 'IT']
print(df_it)
print('Total number of IT employees:',len(df_it))

###### Q9. Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.

In [ ]:
df_salary = df.sort_values(['salary'],ascending=False)
print(df_salary.head(3))

###### Q10. Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.

In [ ]:
df.loc[df['salary']>80000, 'salary'] = 80000
new_avg = df['salary'].mean()
print(new_avg)